* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#canvas-container {
    height: 80vh;
    width: 100vw;

    display: grid;
    place-items: center;
}

#canvas-container canvas {
    max-height: 100%;
    max-width: 100%;

    /* prevents the canvas from being larger than the container in chrome */
    /* https://stackoverflow.com/a/36247448/13996389 */
    min-height: 0;
}

#carousel-container {
    height: 20vh;
    width: 100vw;
}

#blocks-carousel {
    display: flex;
    gap: 20px;
    flex-direction: row;
    overflow: auto;
    overscroll-behavior-x: none;
    height: 100%;
    padding: 0 10px;
    align-items: center;
}

#blocks-carousel canvas {
    max-height: 100%;
    max-width: 100%;
}

#blocks-carousel canvas.hidden {
    display: none;
}
